
.avatar__container{
    display: flex;
    gap:15px;
    align-items: center;
    flex-direction: column;
}

.avatar__line{
    display: flex;
    gap:15px;
    align-items: center;
}

.avatar__username{
    font-family: "Inter_Bold";
}

.dropdownMenu{
    margin-top: 5px;
    max-height: 140px;
    gap: 15px;
    box-sizing: border-box;
    margin-right: 180px;
    padding: 25px 30px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    background: rgba(0, 253, 154, 0.49);
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: absolute;
    top: 100%;
    border-radius: 15px;
}

.dropdownMenu__arrow {
    position: absolute;
    top: -10%;
    left: 85%;
    width: 0;
    height: 0;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    border-bottom: 15px solid rgba(0, 253, 154, 0.49);
    background: none;
}