
.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
    height: 120px;
    background-color: rgba(0, 234, 253, 0.3);
    /*-webkit-box-shadow: 0px -18px 8px 2px rgba(76, 253, 247, 0.4);*/
    /*-moz-box-shadow: 0px -18px 8px 2px rgba(76, 253, 247, 0.4);*/
    /*box-shadow: 0px -18px 8px 2px rgba(76, 253, 247, 0.4);*/
}

.footer__column{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.footer__link{
    font-family: "Inter_Bold";
    color: #000;
    font-size: 15px;
}

.footer__logo{
    width: 42px;
    height: 42px;
}

.footer__column:first-child{
    padding-left: 30px;
}

.footer__column:last-child{
    margin-right: 30px;
}

