.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    background: #fff;
    top: 0;
    align-items: center;
    height: 90px;
    -webkit-box-shadow: 0px 13px 8px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 13px 8px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 13px 8px -1px rgba(0, 0, 0, 0.2);
}

.header.scrolled{
    margin-top: 20px;
    width: 84%;
    margin-left: 8%;
    border-radius: 20px;
}

.header__column{
    display: flex;
    padding-left: 15px;
}

.header__logo{
    width: 42px;
    height: 42px;
}

.header__column:first-child{
    padding-left: 30px;
}
.header__column:last-child{
    margin-right: 30px;
}