.layout__container{
    display: flex;
    flex-direction: column;
    padding: 0 120px 0 120px;
}

.layout__main{
    display: flex;
    flex-direction: column;
    padding-top: 120px;
}

@media (max-width: 420px) {
    .layout__container{
        padding: 0 20px 0 20px;
    }
}