.layout__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 120px 0 120px;
}

@media (max-width: 420px) {
    .layout__container{
        padding: 0 20px 0 20px;
    }
}